*{
  margin: 0;
  padding: 0;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 90vh;
 border: 10px solid red;
  border-color: red;
  background-color: rgb(255, 255, 255);
}
.logoPoke{
  width: 350px;
  height: 150px;
}